/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

		

		
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		
		position: relative;

		
	}
	a {
		display: block;
		text-decoration: none;
	}

}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		
		width: 50%;
	}

	.nav-next {
		
		text-align: right;
		width: 50%;
	}
}


//header nav

.main-navigation ul{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: row;
	padding-right: 20px;
}

.main-navigation li {
	padding-left: 20px;
}



.shop-stuff {
	text-align: center;
}

.product-type-block-wrapper {
	border: 1px, solid, $shop-stuff;
	border-top: 4px, solid, $shop-stuff;
	padding: 5px;
	margin: 10px;
	width: 250px;
	height: 280px;
	a{
		text-decoration: none;
		background-color: $shop-button;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
		color: white;


		&:hover{
			background-color: $shop-button-hover;
			}
		
	}

}
.product-type-block-wrapper:hover{
	border: 1px, solid, #d99054;
	border-top: 4px, solid #d99054;
	}


.product-type-blocks {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.front-journal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border:1px, solid, $shop-stuff;
	margin: 10px;
	// max-width: 33.333%;
	img{
		object-fit: cover;
	
	}
	

}



.Inhabitent-Journal {
	text-align: center;
}

.latest-adventures {
	text-align: center;
}

.grid-adventures {
	margin:auto;
	max-width: 1120px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	grid-template-rows: 265px 265px;
	
	
	> div {
		position: relative;
	}
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.adventure-meta {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1rem;
	font-size: 30px;
	color: white;
	a {
	color: white;
	text-decoration: none;
	&:hover {
		background-color: $shop-button;
		border: none;
	}	
	}
	
	
}

.one {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	a {
		border: 1px, solid, white;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 18px;
	}

}


.two {
	grid-column: 3 / -1;
	grid-row: 1 / 2;
	font-size: 18px;
	line-height: 40px;
	a {
		border: 1px, solid, white;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 18px;
	}
}

.three {
	grid-column: 3 / 4;
	line-height: 30px;
	a {
		border: 1px, solid, white;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 18px;
	}
	
}

.four {
	grid-column: 4 / -1;
	line-height: 30px;
	
	a {
		border: 1px, solid, white;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 18px;
	}
	h3 {
		font-size: 26px;
	}
}


.read-more {
	background-color: white;
	border: 1px, solid, black; 
	padding: 20px;
	text-decoration: none;
	color: black;
	&:visited{
		color: black;
	}
	&:hover {
	background-color: $shop-button;
	border: none;
	color: white;
	}
}

.stars {
	position: absolute;
	top: 288%;
	left: 73%;
	width: 100px;
}

.canoe {
	position: absolute;
	top: 258%;
	left: 53%;
	width: 100px;
}

.padding-mount {
	margin: none;
}


.more-adventures {
	padding: 0;
	margin: 0 auto;
	margin-left: 11%;
	text-align: center;
	max-width: 20%;
	background-color: $shop-button;
	&:hover {
		background-color: $shop-button-hover;
		color: white;
		border: none;
	}
	h2 {
		padding: 5px;
	}
	a {
		text-decoration: none;
		color: white;

	}
}