/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */


.site-content {
    display: flex;

}

.content-area {
    width: 75%;
    flex-grow: 1;
}

.side-bar {
    width: 25%;
}