.about-image {
    position: absolute;
    left: 44%;
    top: 30%;
    font-size: 40px;
    color: white;
}


.poop {
    img {
        background: linear-gradient(rga(0,0,0,0,0.3), rgba(0,0,0,0.6)); 
    }
}