.error-content {
    p {
        margin: 0 auto;
        max-width: 750px;
    }
}


.error-title {
    position: relative;
    padding-top: 50px;
}

.error-search {
    position: relative;
}

.widget_recent_entries {
    margin: 0 auto;
    max-width: 750px;
    ul {
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }
}


.widget_archive {
    margin: 0 auto;
    max-width: 750px;
    p {
        padding-bottom: 10px;
    }
}