.find-us {
    margin-top: 93px;
    padding-left: 50px;
    
    
}

.camping {
    width: 800px;
    padding-left: 50px;
}

//the form class

.wpcf7-form {
    padding-left: 50px;
}
// the message part of the form
.wpcf7-textarea {
    width: 800px;
}


.find-us-content {
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
    
}
// the side bar
.widget-area {
// position: absolute;
// top: 10.1%;
// border: 1px, solid, $shop-stuff;
// width: 400px;
// padding-top: 45px;
// padding-left: 30px;
// height: 1407px;
// border-bottom: none;



}