

.site-footer {
    background: url(../../images/imgs/dark-wood.png);
    height: 380px;
    color: white;
}


.flex-footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding-left: 12%;
    padding-top: 40px;
    h3 {
        font-size: 25px;
    }
    
}
.footer-hours {
    padding-left: 5rem;
    h3 {
        color: $footer-color;
    }
}


.footer-info {
    h3 {
        color: $footer-color;
    }
}




.footer-logo {
padding-left: 15rem;
padding-top: 2rem;
color: white;
}
//end of footer content

header {
    text-align: center;

}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: $header-background;
    height: 40px;
    border-bottom: 1px, solid, $shop-stuff;
    z-index: 10;
    
}

//end of header content

.side-bar {
    // display: flex;
    // justify-content: flex-end;
    // align-items: flex-end;
    margin: 0 auto;

}

.about-content {
    margin: 0 auto;
    text-align: left;
    max-width: 750px;
    h2 {
        text-align: center;
    }

}

.flex-journals {
    // display: flex;
    // justify-content: flex-start;
    // flex-direction: column;
    // align-items: flex-start;
    text-align: left;
}