.search-header {
    position: relative;
    top: 20px;

}


.search-title {
max-width: 750px;
margin: 0 auto;
text-align: left;
padding-top: 50px;
padding-bottom: 50px; 
border-bottom: 1px, solid, $shop-stuff;


}


.search-headers {
    max-width: 750px;
    margin: 0 auto;

}


.top-of-search {
    margin: 0 auto;
    max-width: 750px;
    text-align: left;
    padding-top: 30px;
}


.search-h1s {
    margin: 0 auto; 
    a {
        text-decoration: none;
    }
}

